*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-direction: row;
}
#contenedor-principal{
    background-color: #2b807b;
    height: 100vh;
    width: 50vw;
    min-width: 200px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

#contenedor-secundario{
    background-image: url(./imagenes/Paisaje2\ \(1\).jpg);
    height: 100vh;
    width: 50vw;
    min-width: 200px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


#texto, #paisaje{
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.btn, .btn-1 {
    background-color: blueviolet;
    border: 3px solid blueviolet;
    border-radius: 50px;
    margin: 10px 20px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;

}

.btn:hover{
    background-color: rgb(147, 72, 217);
}
.btn-1:hover{
    background-color: rgb(147, 72, 217);

}

